---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "讲东讲西";
---

<BaseLayout pageTitle={pageTitle}>
  <p>广东电台收听中...</p>
  <ul>
    <li><a href="/posts/post-1/">文章 1</a></li>
    <li><a href="/posts/post-2/">文章 2</a></li>
    <li><a href="/posts/post-3/">文章 3</a></li>
  </ul>
</BaseLayout>